@{
    var Data = ViewBag.Data;
    var config = Data.Config as DefaultableDictionary<String, String>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>@config["site_title"] - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/green.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <!--<link rel="stylesheet" href="~/Content/css/owl.theme.css">-->
    <link href="~/Content/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/rateit.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css">
    <!-- Demo Purpose Only. Should be removed in production -->
    <link rel="stylesheet" href="~/Content/css/config.css">
    <link href="~/Content/css/green.css" rel="alternate stylesheet" title="Green color">
    <link href="~/Content/css/blue.css" rel="alternate stylesheet" title="Blue color">
    <link href="~/Content/css/red.css" rel="alternate stylesheet" title="Red color">
    <link href="~/Content/css/orange.css" rel="alternate stylesheet" title="Orange color">
    <link href="~/Content/css/dark-green.css" rel="alternate stylesheet" title="Darkgreen color">
    <link href="https://stevenbenner.github.io/jquery-powertip/styles/jquery.powertip.css" rel="alternate stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
    <!-- Demo Purpose Only. Should be removed in production : END -->
    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/Content/css/jquery.smallipop.min.css" type="text/css" media="all" title="Screen" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
        <script src="~/Content/js/html5shiv.js"></script>
        <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
        <script src="~/Content/js/jquery-1.11.1.min.js"></script>

        <script src="~/Content/js/bootstrap.min.js"></script>

        <script src="~/Content/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>

        <script src="~/Content/js/echo.min.js"></script>
        <script src="~/Content/js/jquery.easing-1.3.min.js"></script>
        <script src="~/Content/js/bootstrap-slider.min.js"></script>
        <script src="~/Content/js/jquery.rateit.min.js"></script>
        <script type="text/javascript" src="~/Content/js/lightbox.min.js"></script>
        <script src="~/Content/js/bootstrap-select.min.js"></script>
        <script src="~/Content/js/wow.min.js"></script>
        <script type="text/javascript" src="~/Content/js/modernizr.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.smallipop.min.js"></script>
</head>
<body class="cnt-home">

    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    
    <script src="~/Content/js/scripts.js"></script>
    @RenderSection("masterjs", required: false)
</body>
</html>