<!-- ============================================== TOP MENU ============================================== -->
<div class="top-bar animate-dropdown">
    <div class="container">
        <div class="header-top-inner">
            <div class="cnt-account">
                <ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Login", "Customer")"><i class="icon fa fa-sign-in"></i>Đăng nhập</a></li>
                        <li><a href="@Url.Action("Register", "Customer")"><i class="icon fa fa-sign-out"></i>Đăng ký</a></li>
                    }
                    else
                    {
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Xin chào, @UserManager.CurrentCustomer.FullName <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Profile", "Customer")"><i class="icon-cog"></i> Quản lý tài khoản</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Logout", "Customer")"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div><!-- /.cnt-account -->
            <div class="clearfix"></div>
        </div><!-- /.header-top-inner -->
    </div><!-- /.container -->
</div><!-- /.header-top -->
<!-- ============================================== TOP MENU : END ============================================== -->

