
@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = UserManager.CurrentCustomer;
}

<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="progressbar">
        <li class="active">Đăng nhập</li>
        <li class="active">Địa chỉ giao hàng</li>
        <li>Thanh toán & đặt mua</li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-truck"></i> Chọn địa chỉ giao hàng</h4>
                </div>
                <div class="panel-body">
                    <form id="form-address" method="post" action="/checkout/shipping/saving_shipping_address">

                        <h5 class="visible-lg-block">
                            Chọn địa chỉ giao hàng có sẵn bên dưới:
                        </h5>
                        <div class="row row-address-list">

                            <div class="col-lg-6 col-md-6 col-sm-6 item" id="item-1207154">
                                <div class="panel panel-default address-item is-default">
                                    <div class="panel-body">
                                        <p class="name">Tên: @user.FullName</p>
                                        @if(user.ProvinceID == null){
                                            <p class="action">
                                                <a href="@Url.Action("Profile","Customer",new { return_url = Request.Url.AbsoluteUri.ToString().ToLower() })" type="button" class="btn btn-primary btn-custom1 edit-address" data-id="1207154">Cập nhật địa chỉ</a>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="address">
                                            Địa chỉ: @user.Address, @user.Ward.Type @user.Ward.WardName, @user.District.Type @user.District.DistrictName, @user.Province.Type @user.Province.ProvinceName
                                            </p>
                                            <p class="phone">Điện thoại: @((user.Phone.Length > 0 ? user.Phone : ""))</p>
                                            <p class="action">
                                                <button type="button" class="btn btn-primary btn-custom1 saving-address is-blue" data-id="1207154">
                                                    Giao đến địa chỉ này
                                                </button>
                                                <a href="@Url.Action("Profile", "Customer", new { return_url = Request.Url.AbsoluteUri.ToString().ToLower() })" type="button" class="btn btn-primary btn-custom1 edit-address" data-id="1207154">Sửa</a>
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                        <p class="other">
                            Bạn muốn giao hàng đến địa chỉ khác?
                            <a href="javascript:void(0)" id="addNewAddress">
                                Thêm địa chỉ giao hàng mới
                            </a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="panel panel-default address-form is-edit" style="display: none;">
                <div class="panel-heading hidden-lg">Cập nhật địa chỉ giao hàng mới</div>
                <div class="panel-body">
                    <form class="form-horizontal bv-form" role="form" id="address-info" novalidate="novalidate">
                        <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                        <div class="form-group row">
                            <label for="full_name" class="col-lg-4 control-label visible-lg-block">Họ tên </label>
                            <div class="col-lg-4 input-wrap has-feedback">
                                <input type="text" name="full_name" class="form-control address" id="full_name" value="Lê Trung Hiển" placeholder="Nhập họ tên" data-bv-field="full_name"><i class="form-control-feedback bv-no-label" data-bv-icon-for="full_name" style="display: none;"></i>
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="full_name" data-bv-result="NOT_VALIDATED" style="display: none;">Vui lòng nhập Họ tên</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="telephone" class="col-lg-4 control-label visible-lg-block">Điện thoại di động</label>
                            <div class="col-lg-3 input-wrap has-feedback">
                                <input type="tel" name="telephone" class="form-control address" id="telephone" value="01207774140" placeholder="Nhập số điện thoại" data-bv-field="telephone"><i class="form-control-feedback bv-no-label" data-bv-icon-for="telephone" style="display: none;"></i>
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="telephone" data-bv-result="NOT_VALIDATED" style="display: none;">Vui lòng nhập Số điện thoại</small><small class="help-block" data-bv-validator="regexp" data-bv-for="telephone" data-bv-result="NOT_VALIDATED" style="display: none;">Số điện thoại không hợp lệ (chỉ chấp nhận số)</small><small class="help-block" data-bv-validator="stringLength" data-bv-for="telephone" data-bv-result="NOT_VALIDATED" style="display: none;">Số điện thoại chỉ được chứa 9 - 15 chữ số</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="region_id" class="col-lg-4 control-label visible-lg-block">Tỉnh/Thành phố</label>
                            <div class="col-lg-4 input-wrap has-feedback">
                                <!--                --><!--                    <input name="region" id="region_id" type="text" class="form-control address" value="--><!--" placeholder="Nhập Tỉnh/Thành phố">-->
                                <!---->
                                <!--                -->                    <select name="region_id" class="form-control address" id="region_id" data-bv-field="region_id">
                                    <option value="">Chọn Tỉnh/Thành phố</option>
                                    <option value="294" selected="">Hồ Chí Minh</option>
                                    <option value="297">Hà Nội</option>
                                    <option value="291">Đà Nẵng</option>
                                    <option value="278">An Giang</option>
                                    <option value="280">Bà Rịa - Vũng Tàu</option>
                                    <option value="282">Bắc Giang</option>
                                    <option value="281">Bắc Kạn</option>
                                    <option value="279">Bạc Liêu</option>
                                    <option value="283">Bắc Ninh</option>
                                    <option value="284">Bến Tre</option>
                                    <option value="285">Bình Dương</option>
                                    <option value="286">Bình Phước</option>
                                    <option value="287">Bình Thuận</option>
                                    <option value="316">Bình Định</option>
                                    <option value="289">Cà Mau</option>
                                    <option value="290">Cần Thơ</option>
                                    <option value="288">Cao Bằng</option>
                                    <option value="293">Gia Lai</option>
                                    <option value="295">Hà Giang</option>
                                    <option value="296">Hà Nam</option>
                                    <option value="299">Hà Tĩnh</option>
                                    <option value="300">Hải Dương</option>
                                    <option value="301">Hải Phòng</option>
                                    <option value="319">Hậu Giang</option>
                                    <option value="302">Hoà Bình</option>
                                    <option value="320">Hưng Yên</option>
                                    <option value="321">Khánh Hòa</option>
                                    <option value="322">Kiên Giang</option>
                                    <option value="323">Kon Tum</option>
                                    <option value="304">Lai Châu</option>
                                    <option value="306">Lâm Đồng</option>
                                    <option value="305">Lạng Sơn</option>
                                    <option value="324">Lào Cai</option>
                                    <option value="325">Long An</option>
                                    <option value="326">Nam Định</option>
                                    <option value="327">Nghệ An</option>
                                    <option value="307">Ninh Bình</option>
                                    <option value="328">Ninh Thuận</option>
                                    <option value="329">Phú Thọ</option>
                                    <option value="308">Phú Yên</option>
                                    <option value="309">Quảng Bình</option>
                                    <option value="310">Quảng Nam</option>
                                    <option value="311">Quảng Ngãi</option>
                                    <option value="330">Quảng Ninh</option>
                                    <option value="312">Quảng Trị</option>
                                    <option value="313">Sóc Trăng</option>
                                    <option value="331">Sơn La</option>
                                    <option value="332">Tây Ninh</option>
                                    <option value="333">Thái Bình</option>
                                    <option value="334">Thái Nguyên</option>
                                    <option value="335">Thanh Hóa</option>
                                    <option value="303">Thừa Thiên Huế</option>
                                    <option value="336">Tiền Giang</option>
                                    <option value="314">Trà Vinh</option>
                                    <option value="315">Tuyên Quang</option>
                                    <option value="337">Vĩnh Long</option>
                                    <option value="338">Vĩnh Phúc</option>
                                    <option value="339">Yên Bái</option>
                                    <option value="292">Đắk Lắk</option>
                                    <option value="340">Đắk Nông</option>
                                    <option value="341">Điện Biên</option>
                                    <option value="317">Đồng Nai</option>
                                    <option value="318">Đồng Tháp</option>
                                </select><i class="form-control-feedback bv-no-label" data-bv-icon-for="region_id" style="display: none;"></i>
                                <!--                -->            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="region_id" data-bv-result="NOT_VALIDATED" style="display: none;">Vui lòng chọn Tỉnh/Thành phố</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="city_id" class="col-lg-4 control-label visible-lg-block">Quận/Huyện</label>
                            <div class="col-lg-4 input-wrap has-feedback">
                                <!--                --><!--                    <input name="city" id="city_id" type="text" class="form-control address" value="--><!--" placeholder="Nhập Quận/Huyện">-->
                                <!---->
                                <!--                -->                <select name="city_id" class="form-control address" id="city_id" data-bv-field="city_id">
                                    <option value="">Chọn Quận/Huyện</option>
                                    <option value="484">Quận 1</option>
                                    <option value="485">Quận 2</option>
                                    <option value="486">Quận 3</option>
                                    <option value="487">Quận 4</option>
                                    <option value="488">Quận 5</option>
                                    <option value="489">Quận 6</option>
                                    <option value="490">Quận 7</option>
                                    <option value="491">Quận 8</option>
                                    <option value="492">Quận 9</option>
                                    <option value="493">Quận 10</option>
                                    <option value="494">Quận 11</option>
                                    <option value="495">Quận 12</option>
                                    <option value="496">Quận Bình Tân</option>
                                    <option value="497" selected="">Quận Bình Thạnh</option>
                                    <option value="498">Quận Gò Vấp</option>
                                    <option value="499">Quận Phú Nhuận</option>
                                    <option value="500">Quận Tân Bình</option>
                                    <option value="501">Quận Tân Phú</option>
                                    <option value="502">Quận Thủ Đức</option>
                                    <option value="503">Huyện Bình Chánh</option>
                                    <option value="504">Huyện Cần Giờ</option>
                                    <option value="505">Huyện Củ Chi</option>
                                    <option value="506">Huyện Hóc Môn</option>
                                    <option value="507">Huyện Nhà Bè</option>

                                    <!--                    -->
                                </select><i class="form-control-feedback bv-no-label" data-bv-icon-for="city_id" style="display: none;"></i>
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="city_id" data-bv-result="NOT_VALIDATED" style="display: none;">Vui lòng chọn Quận/Huyện</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="street" class="col-lg-4 control-label visible-lg-block">Địa chỉ</label>
                            <div class="col-lg-4 input-wrap has-feedback">
                                <textarea name="street" class="form-control address" id="street" placeholder="Ví dụ: 52, đường Trần Hưng Đạo" data-bv-field="street">38 Nguyễn Xí</textarea><i class="form-control-feedback bv-no-label" data-bv-icon-for="street" style="display: none;"></i>
                                <span class="help-block"></span>
                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="street" data-bv-result="NOT_VALIDATED" style="display: none;">Vui lòng nhập Địa chỉ</small>
                            </div>
                        </div>
                        <div class="form-group row end">
                            <div class="col-lg-offset-4 col-lg-8">
                                <input type="hidden" name="address_id" value="1207154">
                                <button id="btn-address" type="submit" class="btn btn-primary btn-custom3" value="update">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section masterjs{
<script>
    $('#addNewAddress').on('click', function (event) {
        event.preventDefault();
        if ($('.address-form').css('display') == 'none') {
            $('.address-form').css('display','block');
        }
    });
</script>    
}