@using WebBanHang.Models
@model IEnumerable<GroupProduct>
@{
    ViewBag.Title = "SideBarMenu";
}

<div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Chuyên mục</div>
    <nav class="yamm megamenu-horizontal" role="navigation">
        <ul class="nav">
        @foreach(GroupProduct group in Model){
            <li class="dropdown menu-item">
                @if (group.GroupProducts1.Count > 0)
                {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-@group.Icon fa-fw"></i>@group.GroupName</a>
                <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                            @{int i = 0;}
                            @foreach (var subLevel2 in group.GroupProducts1)
                            {
                                if (i == 0)
                                {
                                    @Html.Raw("<div class=\"row\">")
                                }
                                <div class="col-sm-12 col-md-3">
                                <h2 class="title">@subLevel2.GroupName</h2>
                                <ul class="links list-unstyled margin-bottom-10">
                                    @foreach (var subLevel3 in subLevel2.GroupProducts1)
                                    {
                                        <li><a href="@Url.Action("Details", "Category", new { id = subLevel3.GroupID })">@subLevel3.GroupName</a></li>
                                    }
                                </ul>
                                </div>
                                i = i + 1;
                                if(i == 2)
                                {
                                    @Html.Raw("</div>")
                                    i = 0;
                                }
                            }
                    </li><!-- /.yamm-content -->
                </ul><!-- /.dropdown-menu -->
                }
                else
                {
                    <a href="@Url.Action("View", "GroupProduct", new { id = group.GroupID})"><i class="icon fa fa-@group.Icon fa-fw"></i>@group.GroupName</a>
                }
            </li><!-- /.menu-item -->
        }
        </ul><!-- /.nav -->
    </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->

